In [1]:
# Import the dependencies.
import pandas as pd
import requests
import gmaps

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-08-12 05:52:32,-53.1500,-70.9167,46.51,81,75,4.61
1,1,Mataura,NZ,2021-08-12 05:54:11,-46.1927,168.8643,47.48,73,96,8.99
2,2,Rikitea,PF,2021-08-12 05:54:12,-23.1203,-134.9692,73.00,69,1,6.17
3,3,Iturama,BR,2021-08-12 05:54:12,-19.7281,-50.1956,67.30,49,19,4.79
4,4,Ribeira Grande,PT,2021-08-12 05:54:13,38.5167,-28.7000,72.36,86,32,18.70

In [3]:
# Get the datatypes.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent windiness.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
##### Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Puro,PH,2021-08-12 05:54:15,12.4841,123.3827,86.49,65,100,2.91
11,11,Georgetown,MY,2021-08-12 05:54:16,5.4112,100.3354,88.90,74,20,8.05
12,12,Albany,US,2021-08-12 05:53:53,42.6001,-73.9662,76.64,88,92,3.31
23,23,Ewa Beach,US,2021-08-12 05:54:22,21.3156,-158.0072,78.75,75,1,4.61
24,24,Westport,US,2021-08-12 05:53:59,41.1415,-73.3579,77.18,95,88,7.00
25,25,Tezu,IN,2021-08-12 05:54:22,27.9167,96.1667,77.29,100,100,2.59
30,30,Srandakan,ID,2021-08-12 05:54:25,-7.9386,110.2506,81.95,71,45,17.76
31,31,Ugoofaaru,MV,2021-08-12 05:54:25,5.6667,73.0000,82.89,75,100,16.67
36,36,Boende,CD,2021-08-12 05:54:28,-0.2167,20.8667,77.02,72,55,2.10
39,39,Ixtapa,MX,2021-08-12 05:54:29,20.7000,-105.2000,77.23,90,73,1.01

In [12]:
preferred_cities_df.count()

City_ID       228
City          228
Country       228
Date          228
Lat           228
Lng           228
Max Temp      228
Humidity      228
Cloudiness    228
Wind Speed    228
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
9         Puro      PH     86.49  12.4841  123.3827
11  Georgetown      MY     88.90   5.4112  100.3354
12      Albany      US     76.64  42.6001  -73.9662
23   Ewa Beach      US     78.75  21.3156 -158.0072
24    Westport      US     77.18  41.1415  -73.3579
25        Tezu      IN     77.29  27.9167   96.1667
30   Srandakan      ID     81.95  -7.9386  110.2506
31   Ugoofaaru      MV     82.89   5.6667   73.0000
36      Boende      CD     77.02  -0.2167   20.8667
39      Ixtapa      MX     77.23  20.7000 -105.2000

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/js"on"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Puro,PH,86.49,12.4841,123.3827,
11,Georgetown,MY,88.90,5.4112,100.3354,Cititel Penang
12,Albany,US,76.64,42.6001,-73.9662,
23,Ewa Beach,US,78.75,21.3156,-158.0072,Uncle Junior Robert
24,Westport,US,77.18,41.1415,-73.3579,The Westport Inn
...,...,...,...,...,...,...
566,Finschhafen,PG,82.71,-6.6024,147.8681,Cossam Guest House
568,Shingu,JP,77.99,33.7333,135.9833,Shingu UI Hotel
569,Laguna,US,87.64,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
576,Kobelyaky,UA,76.69,49.1489,34.1965,Жильё посуточно Кобеляки
577,Zaysan,KZ,87.48,47.4667,84.8667,Ерлан үй

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))